$base-color: #ee5b05;
$base-color-2: #29374b;
$base-color-3: #87e990;
$base-font: 38rpx;
$normal-font: 28rpx;

$background-gradient-1:-webkit-linear-gradient(top,rgb(83, 248, 207),rgb(250, 244, 244),rgb(235, 188, 134));